﻿
@section Header{Archive}

@model Task_24_Advanced.Models.IndexViewModel<Task_24_Advanced.BLL.DTO.ArticleDTO>

    <div class="container">
        <h1 class="text-center pb-5 pt-5">Archive</h1>
        <div class="col mb-5 ml-3">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="~/Home/Archive/@Model.Pagination.PageNumber/fromOldToNew">From old to new</a>
                    
                    <a class="dropdown-item" href="~/Home/Archive/@Model.Pagination.PageNumber/fromNewToOld">From new to old</a>
                </div>
            </div>
        </div>
        <div class="pr-0 articleContainer col w-100 ml-auto mr-auto">
            <div class="container pr-0 pb-5">
                @for (int i = 0; i < Model.Items.Count(); i++)
                {
                    <div class=" pl-0 pb-5 mb-4 article">
                        <div class=" pl-0 col">
                            <p class="col pl-0 mb-0 justify-content-start articleDate">
                                @Model.Items[i].Date
                            </p>
                            <a class="col pl-0 justify-content-start articleHeader" href="~/Home/ShowArticle/@Model.Items[i].Id"><p class="mb-0">@Model.Items[i].Name</p></a>
                        </div>
                        @if (Model.Items[i].Content.Length < 300)
                        {
                            <p class=" mb-0 pl-0 justify-content-start articleContent">@Model.Items[i].Content</p>
                        }
                        else
                        {
                            <p class=" mb-0 pl-0 justify-content-start articleContent">@Model.Items[i].Content.Substring(0, Model.Items[i].Content.IndexOf(" ", 310))...</p>
                        }
                    </div>
                }
            </div>
            @{
                int current = Model.Pagination.PageNumber;
                int prev = current - 1;
                int next = current + 1;
            }
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    @if (prev != 0 && prev != -1)
                        {
                            <li class="page-item">
                            <a class="page-link" href="~/Home/Archive/@prev/@ViewBag.Sort" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>

                        <li class="page-item"><a class="page-link" href="~/Home/Archive/@prev/@ViewBag.Sort">@prev</a></li>
                    }
                    <li class="page-item"><a class="page-link" href="~/Home/Archive/@current/@ViewBag.Sort">@current</a></li>
                    @if (next <= Model.Pagination.TotalPages)
                    {
                        <li class="page-item"><a class="page-link" href="~/Home/Archive/@next/@ViewBag.Sort">@next</a></li>
                        <li class="page-item">
                            <a class="page-link" href="~/Home/Archive/@next/@ViewBag.Sort" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>

        </div>
    </div>

@{
    if (Model.Items.Count() > 2)
    {
        @section Footer{
            <div class="container-fluid mt-5 footer">
        }
    }
    else
    {
        @section Footer{
            <div class="container-fluid mt-5 footer fixed-bottom">
        }
    }
}

