﻿@section Header{
    Home Page
}
@model List<Task_24_Advanced.Models.ArticelViewModel>
    

@{
    if (Model.Any())
    {

        var MainArticles = Model.Where(article => article.Category == "Main article").OrderByDescending(x => x.Date).Take(3).ToList();
        var MiniArticles = Model.Where(article => article.Category == "Mini article").OrderByDescending(x => x.Date).Take(8).ToList();

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="mainNews">
                <a class="col pl-0 justify-content-start" href="~/Home/ShowArticle/@MainArticles[0].Id">
                    <img src="@MainArticles[0].WayToImg" class="img-fluid" alt="img">
                </a>
                <a class="col pl-0 justify-content-start" href="~/Home/ShowArticle/@MainArticles[0].Id">

                    <div class="text pl-3 pt-3">
                        <h3 class="text-center mainNewsHeader">
                            @MainArticles[0].Name
                        </h3>
                        @if (MiniArticles[0].Content.Length < 200)
                        {
                            <p class="mainNewscontent text-left">@MainArticles[0].Content</p>
                        }
                        else
                        {
                            <p class="mainNewscontent text-left">@MainArticles[0].Content.Substring(0, MainArticles[0].Content.IndexOf(" ", 250))...</p>
                        }
                    </div>
                    </a>
            </div>
            <div class="pr-0 articleContainer">
                <div class="container pr-0">
                    @for (int i = 0; i < 4; i++)
                    {
                        <div class=" pl-0 mb-4 article">
                            <div class=" pl-0 col">
                                <p class="col pl-0 mb-0 justify-content-start articleDate">
                                    @MiniArticles[i].Date
                                </p>
                                <a class="col pl-0 justify-content-start articleHeader" href="~/Home/ShowArticle/@MiniArticles[i].Id"><p class="mb-0">@MiniArticles[i].Name</p></a>
                            </div>
                            @if (@MiniArticles[i].Content.Length < 200)
                            {
                                <p class=" mb-0 pl-0 justify-content-start articleContent">@MiniArticles[i].Content</p>
                            }
                            else
                            {
                                <p class=" mb-0 pl-0 justify-content-start articleContent">@MiniArticles[i].Content.Substring(0, MiniArticles[i].Content.IndexOf(" ", 210))...</p>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid mt-5 centerNews">
        <div class="row">
                <div class="container mainNews">
            <a class="col pl-0 justify-content-start" href="~/Home/ShowArticle/@MainArticles[2].Id">
                    <img src="@MainArticles[2].WayToImg" class="img-fluid" alt="img">
                </a>
                </div>
                <div class="container articleContainer">
                    <a class="col pl-0 justify-content-start" href="~/Home/ShowArticle/@MainArticles[2].Id">
                        <p class="centerTextHeader">@MainArticles[2].Name</p>
                        <p class="centerContent">@MainArticles[2].Content</p>
                    </a>
                </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="pr-0 articleContainer">
                <div class="container pr-0">
                    @for (int i = 4; i < 8; i++)
                    {
                        <div class="pl-0 mb-4 article">
                            <div class=" pl-0 col">
                                <p class="col pl-0 mb-0 justify-content-start articleDate">
                                    @MiniArticles[i].Date
                                </p>
                                <a class="col pl-0 justify-content-start articleHeader" href="~/Home/ShowArticle/@MiniArticles[i].Id"><p class="mb-0">@MiniArticles[i].Name</p></a>
                            </div>
                            @if (MiniArticles[i].Content.Length < 200)
                            {
                                <p class="col mb-0 pl-0 justify-content-start articleContent">@MiniArticles[i].Content</p>
                            }
                            else
                            {
                                <p class="col mb-0 pl-0 justify-content-start articleContent">@MiniArticles[i].Content.Substring(0, MiniArticles[i].Content.IndexOf(" ", 210))...</p>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="mainNews">
                <a class="col pl-0 justify-content-start" href="~/Home/ShowArticle/@MainArticles[1].Id">
                    <img src="@MainArticles[1].WayToImg" class="img-fluid" alt="img">
                </a>
                <a class="col pl-0 justify-content-start" href="~/Home/ShowArticle/@MainArticles[1].Id">

                    <div class="text pl-3 pt-3">
                        <h3 class="text-center mainNewsHeader">@MainArticles[1].Name</h3>
                        @if (MiniArticles[1].Content.Length < 200)
                        {
                            <p class="mainNewscontent">@MainArticles[1].Content</p>
                        }
                        else
                        {
                            <p class="mainNewscontent">@MainArticles[1].Content.Substring(0, MainArticles[1].Content.IndexOf(" ", 250))...</p>
                        }
                    </div>
                </a>
            </div>
        </div>
            <a href="~/Home/Archive/1">
            <div class="justify-content-left mt-5 ml-3">
                    <div class="row pt-5 btnOpenBook">
                        <div class="col-4 deleteIt"></div>
                        <input type="submit" class="btn col-4 btn-primary ml-auto mr-auto archivebtn" value="ARCHIVE">
                        <div class="col-4 deleteIt"></div>
                    </div>
            </div> 
            </a>
    </div>
    }
    else
    {
        <h2 class="mt-5 mb-5 text-center">Sorry, no articles<br>We are working on this</h2>
    }
    @section Footer{
        <div class="container-fluid mt-5 footer">
    }

}
