﻿
@section Header{
    @Model.Name
}
@model Task_24_Advanced.BLL.DTO.ArticleDTO
@{ 
    int index = Model.Content.IndexOf(" ", Model.Content.Length / 2);
    var contentLeft = @Model.Content.Substring(0, index);
    var contentRight = @Model.Content.Substring(index);
}
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <h3 class="w-75 text-center articleTitle">@Model.Name</h3>
            <p class="col-8 text-center mt-3 mb-5"><img class="w-100 h-100" src="@Model.WayToImg" alt="Article img" /></p>
            <div class="row miniContent pb-4 mb-4">
                <p class="mt-5 col-6">@contentLeft</p>
                <p class="mt-5 col-6">@contentRight</p>
            </div>
        </div>
    </div>
    <div class="container pt-1">
    
        <div class="row">
            <p>TAGS:</p>
            @if (@Model.Tags != null)
            {
                foreach (var item in @Model.Tags)
                {
                    <a href="/Home/ArticlesByTag/1/@item.Tag" class="text-left ml-3 pl-0 mb-0 tag">@item.Tag.ToUpper()</a>
                }
            }
        </div>
       
    </div>

@section Footer{
    <div class="container-fluid mt-5 footer">
}
