﻿@section Header{
    Your form
}

@model Task_24_Advanced.Models.FormViewModel
@using Task_24_Advanced.Models
@using Task_24_Advanced.Helpers
@{
    FormViewModel form = new FormViewModel(0, "", "", 0, "", null, null, "");

    if (Model != null)
    {
        form = Model;
    }
}
<div class="container">
    <h3 class="mt-5 text-center">YOUR FORM</h3>
    <hr>
    <div class="row mb-5 rowInfo">
        <div class="info">
            <p>NAME</p>
            <p>@form.Author</p>
        </div>
        <div class="info">
            <p>EMAIL</p>
            <p>@form.Email</p>
        </div>
    </div>
    <div class="row rowInfo">
        <div class="info">
            <p>Gender</p>
            <p>@form.Gender</p>
        </div>
        <div class="info">
            <p>Age</p>
            @{ if (form.Age != 0)
                {
                    <p>@form.Age years</p>
                }
            }
        </div>

    </div>
    @if (form.WhichDevice != null || form.WhichContent != null)
    {
        <hr>
        <div class="container mt-5 mb-5 rowInfoCheckContainer">
            <div class="row rowInfoCheck">
                @if (form.WhichDevice != null)
                {
                    <div class="container info">
                        <p>DEVICE WHITCH YOU USE</p>
                        <div class="pl-3">
                            @ListHelper.CreateList(Html, form.WhichDevice)
                        </div>
                    </div>
                }
                @if (form.WhichContent != null)
                {
                    <div class="container info">
                        <p>CONTENT WHICH YOU LIKE MORE</p>
                        <div class="pl-3">
                            @ListHelper.CreateList(Html, form.WhichContent)
                        </div>
                    </div>
                }
            </div>
        </div>
        <hr>
    }
</div>

<h4 class="text-center mb-5 mt-5">YOUR COMMENT</h4>
<div class="container col-8 userText">
    <p>@form.Content</p>
</div>
</div>
<div class="emptySpace"></div>
@section Footer{
    <div class="container-fluid mt-5 footer fixed-bottom">
}

