﻿@section Header{
    Form
}

<div class="container-fluid justify-content-center">
    <h2 class="text-center mt-5 mb-5">YOU CAN MAKE OUR SITE BETTER</h2>
    <div class="container col-10 formBox p-3 pl-3">
        <div class="row flex">
            <div class="container flexCon column pl-3">
                <form method="post">
                    <div class="form-group col-12 pl-0 pr-0">

                        <div class="pl-3">
                            @Html.ValidationSummary()
                        </div>
                        @Html.TextBox("author", "", new { @class = "mb-3 form-control", @placeholder = "How we can call you", @required = true, pattern = "[а-яА-ЯёЁa-zA-Z\\s]+$" })
                        @Html.TextBox("age", "", new { @type = "number", @class = "mb-3 form-control", @placeholder = "Enter your age", @required = true })
                        @Html.TextBox("email", "", new { @type = "email", @class = "mb-3 form-control", @placeholder = "Enter your email", @required = true })

                    </div>
                    <hr>
                    <div class="form-group col-12 pl-0 pr-0">
                        <p class="text-center">Gender</p>
                        <div class="form-check">
                            <div class="row col pl-3">
                                <div class="container column">
                                    @Html.RadioButton("gender", "Male", true, new { @class = "form-check-input", @id = "male" })
                                    @Html.Label("Male", new { @class = "form-check-label col-8", @for = "male" })

                                </div>
                                <div class="container column">
                                    @Html.RadioButton("gender", "Female", false, new { @class = "form-check-input", @id = "female" })
                                    @Html.Label("Female", new { @class = "form-check-label col-8", @for = "female" })

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row pl-3">
                        <div class="form-group column check pr-3 pl-3">
                            <p>Which device are you use?</p>
                            <div class="form-check">
                                <div class="row">
                                    @*@Html.CheckBox("whichDevice", false, new { @class = "form-check-input", @value = "Phone", @id = "phone" })
                                        @Html.Label("PHONE", new { @class = "form-check-label", @for = "phone" })*@

                                    @* Почему-то генерирует hedden chackbox со значением FALSE *@

                                    <div class="container">
                                        <input id="phone" class="form-check-input" type="checkbox" name="whichDevice" value="Phone">
                                        <label for="phone" class="form-check-label">PHONE</label>
                                    </div>
                                    <div class="container">
                                        <input id="tablet" class="form-check-input" type="checkbox" name="whichDevice" value="Tablet">
                                        <label for="tablet" class="form-check-label">TABLET</label>
                                    </div>
                                    <div class="container">
                                        <input id="laptop" class="form-check-input" type="checkbox" name="whichDevice" value="Laptop">
                                        <label for="laptop" class="form-check-label">LAPTOP</label>
                                    </div>
                                    <div class="container">
                                        <input id="pc" class="form-check-input" type="checkbox" name="whichDevice" value="PC">
                                        <label for="pc" class="form-check-label">PC</label>
                                    </div>
                                    <div class="container">
                                        <input id="other" class="form-check-input" type="checkbox" name="whichDevice" value="Other">
                                        <label for="other" class="form-check-label">OTHER</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group column check pr-3 pl-3">
                            <p>Which content you like more?</p>
                            <div class="form-check">
                                <div class="row">
                                    <div class="container">
                                        <input id="Blog" class="form-check-input" type="checkbox" name="whichContent" value="Blog">
                                        <label for="Blog" class="form-check-label">BLOG</label>
                                    </div>
                                    <div class="container">
                                        <input id="books" class="form-check-input" type="checkbox" name="whichContent" value="books">
                                        <label for="books" class="form-check-label">BOOOKS</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class=" container flexCon column">
                <div class="form-group">
                    @Html.TextArea("content", "", new
               {
                   @class = "form-control textBox",
                   @placeholder = "Enter your experience of using our site",
                   pattern = "[а-яА-ЯёЁa-zA-Z\\s]+$",
                   @cols = "1",
                   @rows = "16"
               })

                </div>
                <div class="justify-content-center">
                    <div class="row">
                        <div class="col-4"></div>
                        <input type="submit" onclick="footerFixed()" class="btn col-4 btn-primary ml-auto" value="SUBMIT">
                        <div class="col-4"></div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="emptySpace"></div>
@section Footer{
    <div class="container-fluid mt-5 footer fixed-bottom">
}

