* {
    font-family: 'Headland One';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}
.header{
    background-color: black;
}
main {
    padding-bottom: 100px;
}
.page-link {
    text-decoration: none;
    background-color: white;
    color: black !important;
}
    .page-link:hover {
        transition: .3s;
        background-color: black;
        color: white !important;
    }
ul li a img {
    width: 80px;
    height: 80px;
}
.field-validation-error {
    color: #f00;
}
.tag {
    font-size:0.8rem;
    color: grey!important;
}
    .tag:hover {
    color: blue!important;
    cursor:pointer;
    }
    .tag:nth-child(1) {
        padding-left: 11% !important;
    }
.validation-summary-errors {
    color: #f00;
    font-weight: bold;
}

.input-validation-error {
    border: 2px solid #f00;
    background-color: #fee;
}
.emptySpace {
    height: 250px;
}
/*MAIN*/
.articleContainer {
    width: 60%;
}
.article .articleDate{
    font-size: 0.7rem;
    color:grey;
}
.article .articleContent,
.centerContent{
    font-size: 0.8rem;
}
.mainNews .text .mainNewsHeader,
.centerTextHeader{
    font-size: 1.17rem;
}
.mainNews .text .mainNewscontent{
    font-size: 1rem;
}
.mainNews{
    width: 40%;
    padding: 5%;
    padding-top: 0;
}
.footer{
    background-color: black;
    color: white;
    font-size: 0.8rem;
}
.arrow a img 
{
 height: 80px;
 width: 80px;
}
hr{
    height: 1px;
    border: none;
    background-color: grey;
}
.nav-link.active:hover {
    text-decoration: underline;
}
.mainNews:hover {
    transition: .5s;
    transform: scale(1.01);
    cursor: pointer;
}
a{

    color: black;
}
a:hover{
text-decoration:none;
color:black;
}
.BookShowDescription {
font-size: 1.2rem;
}
.openBook {
background-color:black;
border: none;
}
.articleHeader p:hover {
    color: #D60000;
    cursor: pointer;
    font-weight: 500;
}
.centerNews:hover {
    transition: .5s;
    transform: scale(1.01);
    cursor: pointer;
}
.arrow {
opacity:.8;
}
.arrow:hover {
    transition: .5s;
    opacity: 1;
}
.footer p {
    opacity: .8;
}
@media only screen and (max-width: 850px){
    table {
        font-size: 0.7rem;
    }
    .mainNews:nth-child(1),
    .mainNews:nth-child(2){
        width: 100%;
        border-bottom: 1px solid grey;
        margin-bottom: 5%;
    }
    .mainNews:nth-child(2){
        border-top: 1px solid grey;
        padding-top: 5%;
        border-bottom: none;
    }
    .container.mainNews{
        padding-bottom: 7%;
    }
    .mainNews img{
        margin-left: auto;
    }
   
    .article{
        border-bottom: 1px solid grey;
        padding-bottom: 5%;
    }
    .article:last-child{
        border: none;
    }
    .article,
    .articleContainer
    {
        width: 100%;
    }
    .mainNews .text .mainNewsHeader,
    .centerTextHeader{
        font-size: 0.9rem;
    }
    .mainNewscontent{
        font-size: 0.7rem;
    }
    .mainNews{
        padding-left: 0;
        padding-right: 0;
    }
}

/* BOOKS */
.containerTopSix {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
}

.topSix {
    width: 50%;
}

    .topSix .card {
        display: flex;
        flex-direction: row;
        box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.1);
        margin: 2%;
    }

        .topSix .card p {
            padding: 5%;
            padding-top: 2%;
            padding-right: 2%;
            font-size: 0.7rem;
        }

            .topSix .card p:nth-child(1) {
                padding: 2%;
                padding-left: 5%;
                padding-bottom: 0;
                font-size: 1rem;
            }

        .topSix .card:hover {
            transition: .5s;
            transform: scale(1.01);
            cursor: pointer;
            box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.2);
        }

.leftPart .miniCard {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.1);
    margin: 0.5%;
    width: 20%;
    height: 46%;
    font-size: 0.8rem;
}
.mainContainer {
    display: flex;
    height: auto;
    padding-bottom: 5%;
}

    .mainContainer .leftPart {
        flex-wrap: wrap;
    }

    .leftPart .miniCard img {
        padding: 3%;
        width: 150px;
        height: 100%;
    }
.text {
font-size:0.8rem;
}
.leftPart .miniCard:hover {
    transition: .5s;
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.2);
}
@media only screen and (max-width: 1400px) {
    .leftPart .miniCard {
        width: 46% !important;
        height: 20% !important;
    }
    .text {
        font-size: 1rem;
    }
}
@media only screen and (max-width: 1180px) {
    .BookShowImg {
        width: 40% !important;
    }
    .BookShowText {
        width:60%!important;
    }
    .topSixCard {
        width: 100%;
        margin-bottom: 2%;
    }

    .topText {
        padding: 5%;
    }

    .miniCard {
        width: 45%;
        margin-bottom: 3%;
    }
}
@media only screen and (max-width: 1050px) {
    table {
        font-size: 0.7rem;
    }
    .text {
        font-size: 0.8rem;
    }
    .containerTopSix {
        flex-direction: column;
    }
        .containerTopSix .topSix {
            width: 100%;
            height: 10%;
        }
}
@media only screen and (max-width: 1050px) {
    .text {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 850px) {
    .BookShowImg {
        width: 100% !important;
        margin-bottom:5%;
    }
        .BookShowImg img {
            width:35%!important;
            display:block;
            margin-left: auto;
            margin-right: auto;
        }
        .BookShowText {
            padding-top: 5%;
            border-top: 1px solid grey;
            text-align:center;
            width: 100% !important;
        }
        .btnOpenBook input {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    .deleteIt {
        display: none;
    }
    .leftPart .miniCard {
        width: 100% !important;
        height: 10% !important;
    }
}
@media only screen and (max-width: 500px) {
    .topSix .card img {
        width: 0;
    }
    .topSix .card p {
        padding: 5%;
        padding-top: 2%;
        padding-right: 2%;
        font-size: 0.6rem;
    }

        .topSix .card p:nth-child(1) {
            padding: 2%;
            padding-left: 5%;
            padding-bottom: 0;
            font-size: 0.8rem;
            font-weight: 700;
        }
}
/*GUEST*/
.comment {
    border: 1px solid grey;
    padding: 2%;
    box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.1);
}
.form{
    box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.1);
    padding: 5%;
}
.container.form{
    width: 50%;
}
.comAuthor {
    font-size:0.9rem;
    color: red;
}
.comDate {
    font-size: 0.8rem;
    color: grey;
}
.form-control:hover {
    border: 2px solid blue;
}
@media only screen and (max-width: 850px) {
    .container.form{
        width: 100%;
    }
}
/* FORM*/
.textBox{
    resize: none;
}

.formBox{
    box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.1);
}
.userText
{
    border: 1px solid black;
}
.column {
    width: 50%;
}
@media only screen and (max-width: 850px)
{
    .column {
        width: 100%;
    }
    form input{
        font-size: 0.8rem;
    }
    p,
    label,
    .form-control,
    .btn.col-4 {
        font-size: 0.8rem;
    }
    .form-group.column.check{
        margin-left: 5%;
    } 
    h2{
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 500px){
    p,
    label,
    .form-control,
    .btn.col-4 {
        font-size: 0.6rem;
    }
    h2{
        font-size: 1rem;
    }
}
/*FORM RESULT*/
.info
{
    word-wrap:break-word;
    width: 50%;
    padding-left: 5%;
}
.info p:nth-child(1){
    color: grey;
    font-size: 1.1rem;
}
.info p:nth-child(2){
    text-decoration: underline;
}
.rowInfo{
    margin-left: 5rem;
}
.ulCheck li{
    font-size: 1rem;
}
.userText{
    padding: 5%;
}
.container.info{
    padding-left: 5rem;
}
@media only screen and (max-width: 850px){
    .info{
        text-align: center;
        width: 100%;
        padding: 0;
    }
    .rowInfo{
        margin-left: 0;
        border-bottom: 1px solid grey;
    }
    .info p:nth-child(1){
        font-size: 0.8rem;
    }
    .rowInfo:nth-child(4){
        border-bottom:none;
    }
    .ulCheck li{
        font-size: 0.8rem;
    }
    .rowInfoCheckContainer,
    .rowInfoCheck{
        padding: 0;
    }
    .container.info{
        padding-left: 0;
        padding-right: 0;
    }
    .ulCheck{
        width: 40%;
        margin: auto;
    }
    .userText{
        padding: 2%;
    }
    .container.info:nth-child(1){
        margin-bottom: 5%;
        padding-bottom: 5%;
        border-bottom: 1px solid grey;
    }
}

.articleTitle {
    padding-bottom:20px;
}
.miniContent {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.archivebtn {
background-color:white;
border: none;
color: black;
}
    .archivebtn:hover {
        transition: .5s;
        background-color: black;
        color: white;
        font-weight:700;
    }
    /*Error*/
    .errorStatus {
        font-size: 3rem;
        margin-top: 20%;
    }
.errorMessage{
    font-size: 1.5rem;
}

.con{
    min-height: 100%;
}
.footer {
    margin-top: 100px;
    height: 100px;
}
#dropdownMenuLink {
    color:black;
    background-color: white !important;
}
.dropdown-item:hover {
    background-color:black!important;
    color: white!important;
}
.ArticleEditContent {
    height: auto !important;
    resize: none !important;
}
.EditBtn a:hover {
    color:blue!important;
}
.signIn{
color: grey;
}
.signIn:hover {
    color: blue;    
}
.adminPanelNav {
background-color: black!important;
}
.userName, .userNameLog {
    color: white !important;
    border: 1px solid white;
    padding: 3px;
}
.userName {
padding: 8px;
}
.userNameLogOut {
    border: 1px solid white;
}
.DeleteBtn a:hover {
    color:red!important;
}
.colorWhite a{
color: white;
}

