﻿@using Task_24_Advanced.Helpers

<!doctype html>
<html lang="ru">

<head>
    <title>@RenderSection("Header")</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Headland+One&display=swap" rel="stylesheet">
    <!-- Optional JavaScript -->

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("Scripts", required: false)

    <link rel="stylesheet" href="~/Content/tags.css">
 


</head>

<body>
    <div class=".container-fluid">
        <ul class="nav justify-content-center header" id="header">
            <li class="col-3">
                <a href="~/"><img src="~/Content/img/logo.png" class="p-1" alt="logo"></a>
            </li>
            <li class="nav-item col-6">
                <a class="nav-link active text-center text-white" href="~/">
                    <h1>Library</h1>
                </a>
            </li>
            <li class="col-3">
                <div class="row h-100 userAngle">
                    @if (User.Identity.Name == "")
                    {
                        <small class="text-center userNameLog mt-auto mb-auto">
                            @RouteHelper.CreateRoute(Html, "LOG IN⠀", "/Account/Login")
                        </small>
                        <small class="text-center userNameLog ml-3 mt-auto mb-auto">
                            @RouteHelper.CreateRoute(Html, "SIGN IN", "/Account/Register")
                        </small>
                    }
                    else
                    {
                        if (User.IsInRole("admin"))
                        {
                        <small class="text-center userNameLogOut ml-3 mt-auto mb-auto">
                            @RouteHelper.CreateRoute(Html, "ADMIN PANEL", "/Admin/ArticleList")
                        </small>
                        }
                        <small class="text-center userName mt-auto ml-3 mb-auto">
                            @User.Identity.Name.ToUpper()
                        </small>
                        <small class="text-center userNameLogOut ml-3 mt-auto mb-auto">
                            @RouteHelper.CreateRoute(Html, "LOGOUT", "/Account/Logout")
                        </small>
                    }
                </div>
            </li>
        </ul>
        <div class="container-fluid" style="width: 80%;">
            <ul class="nav justify-content-around header">
                <li class="nav-item">
                    @RouteHelper.CreateRoute(Html, "MAIN", "/")
                </li>
                <li class="nav-item">
                    @RouteHelper.CreateRoute(Html, "ARCHIVE", "/Home/Archive/1")
                </li>
                <li class="nav-item">
                    @RouteHelper.CreateRoute(Html, "BOOKS", "/Book")
                </li>
                <li class="nav-item">
                    @RouteHelper.CreateRoute(Html, "GUEST", "/Guest/")
                </li>
                <li class="nav-item">
                    @RouteHelper.CreateRoute(Html, "FORM", "/Form/")
                </li>
            </ul>

            @RenderBody()

        </div>
        @RenderSection("Footer")
        <div class="col">
            <div class="row">
                <div class="col-4"></div>
                <div class="text-center col-4 justify-content-center">
                    <p class="mb-0 pt-3">COPYRIGHT</p>
                    <p class="mb-0">Valerii Dmytryshyn</p>
                    <p class="mb-0 pb-3">goldmenpro@gmail.com</p>
                </div>
                <div class="arrow col-4 justify-content-center">
                    <div class="row">
                        <div class="empty col"></div>
                        <div class="col arrow">
                            <a href="#header" class="col-12"><img src="~/Content/img/arrow.png" alt="goUp" /></a>
                        </div>
                        <div class="empty col"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>