﻿﻿@{ ViewBag.Title = "Page Not Found"; }
@section Header{
    404
}
<div class="container d-flex col-sm-4">
    <div class="error text-center m-auto">
        <h1 class="errorStatus">404</h1>
        <p>
            Sorry, we couldn't find this page. But don't worry
            you can find planty of other things on our
            <a href="~/">homepage</a>
        </p>
    </div>
</div>

@section Footer{
    <div class="container-fluid mt-5 footer fixed-bottom">
}
