﻿@section Header{Login}
@model Task_24_Advanced.Models.Identity.LoginModel

<h2 class="text-center mt-5 mb-5">Login</h2>
<div class="row">
<div class="col"></div>
<div class="container col">
    <form method="post">
        @Html.ValidationSummary()
        <div class="form-group">
            <label for="email">Email</label>
            <textarea type="email" class="form-control ArticleEditContent" 
                      asp-for="email" name="email" id="email"
                      aria-describedby="emailHelp" rows="1" placeholder="Your email">@if (Model != null && Model.Email != null)
                      {
                          @Model.Email
                      }</textarea>
            <small id="emailHelp" class="form-text text-muted">Enter your email.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <textarea type="password" class="form-control ArticleEditContent" asp-for="password" name="password" id="password" aria-describedby="passwordHelp" rows="1" placeholder="Your password"></textarea>
            <small id="passwordHelp" class="form-text text-muted">Enter your password.</small>
        </div>
        <small class="text-left">Don't have account yet?<a href="~/Account/Register/" class="signIn"> Sign in</a></small>
        <div class="row mt-3">
            <div class="empty col"></div>
            <input type="submit" class="col btn btn-dark" value="Submit" />
            <div class="empty col"></div>
        </div>
    </form>
</div>
<div class="empty col"></div>
</div>

@section Footer{
    <div class="container-fluid mt-5 footer fixed-bottom">
}
