﻿@section Header{Registration}
@model Task_24_Advanced.Models.Identity.RegisterModel

<h2 class="text-center mt-5 mb-5">Registration</h2>
<div class="row">
    <div class="col"></div>
    <div class="container col">
        <form method="post">
            <div class="pl-3">
                @Html.ValidationSummary()
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <textarea type="text" class="form-control ArticleEditContent" asp-for="name"
                          name="name" id="name" aria-describedby="nameHelp" rows="1" placeholder="Your name">
                            @if (Model != null && Model.Name != null)
                              {
                                 @Model.Name
                              }</textarea>
                <small id="nameHelp" class="form-text text-muted">Enter your name.</small>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <textarea type="email" class="form-control ArticleEditContent" asp-for="email"
                          name="email" id="email" aria-describedby="emailHelp" rows="1" placeholder="Your email">
                            @if (Model != null && Model.Email != null)
                              {
                                 @Model.Email
                              }</textarea>
                <small id="emailHelp" class="form-text text-muted">Enter your email.</small>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <textarea type="text" class="form-control ArticleEditContent"
                          asp-for="address" name="address" id="address" aria-describedby="addressHelp"
                          rows="1" placeholder="Your address">
                            @if (Model != null && Model.Address != null)
                              {
                                 @Model.Address
                              }
                            </textarea>
                <small id="addressHelp" class="form-text text-muted">Enter your address.</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <textarea type="password" class="form-control ArticleEditContent" asp-for="password" name="password" id="password" aria-describedby="passwordHelp" rows="1" placeholder="Your password"></textarea>
                <small id="passwordHelp" class="form-text text-muted">Enter your password.</small>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Password</label>
                <textarea type="password" class="form-control ArticleEditContent" asp-for="confirmPassword" name="confirmPassword" id="confirmPassword" aria-describedby="confirmPasswordHelp" rows="1" placeholder="Confirm password"></textarea>
                <small id="confirmPasswordHelp" class="form-text text-muted">Enter your password again.</small>
            </div>
            <small class="text-left">Already have an account?<a href="~/Account/Login/" class="signIn">Log in</a></small>
            <div class="row mt-3">
                <div class="empty col"></div>
                <input type="submit" class="col btn btn-dark" value="Submit" />
                <div class="empty col"></div>
            </div>
        </form>
    </div>
    <div class="empty col"></div>
</div>

@section Footer{
    <div class="container-fluid mt-5 footer">
}
