﻿@section Header{Add article}
@model Task_24_Advanced.BLL.DTO.ArticleDTO
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/tags.js"></script>
<script>
        $(function () {
            $("#testInput").tags({
                unique: true,
                maxTags: 5
            });
        });
    function TagFormat() {
        var x = document.getElementsByClassName("tagValue");
        var hidden = document.getElementById("tags")
        var a = "";
        for (var i = 0; i < x.length; i++) {
            a += x[i].innerHTML;
            if (i != x.length - 1) { a += ";"; }
        }
        hidden.setAttribute("value", a);
    }
</script>
<h1 class="text-center mt-5 mb-5">Admin panel</h1>
<hr>
<div class="row mt-5">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" id="v-pills-home-tab" href="~/Admin/ArticleList">Article list</a>
            <a class="nav-link active adminPanelNav" id="v-pills-home-tab" href="~/Admin/AddArticle">Add article</a>
        </div>
    </div>
    <div class="container col-9">
        <form method="post">
            @Html.ValidationSummary()
            @if (!string.IsNullOrEmpty(ViewBag.EmptyList))
            {
                @ViewBag.EmptyList
            }
            <div class="form-group">
                <label for="title">Article title</label>
                <textarea type="text" class="form-control ArticleEditContent" asp-for="Name" name="name"
                          id="name" aria-describedby="nameHelp" rows="3" placeholder="Article title">@if(!string.IsNullOrEmpty(@Model.Name)) {@Model.Name}</textarea>
                <small id="nameHelp" class="form-text text-muted">Enter article's title.</small>
            </div>
            <div class="form-group">
                <label for="title">Article category</label>
                <textarea type="text" class="form-control ArticleEditContent" asp-for="Category" name="category"
                          id="category" aria-describedby="categoryHelp" rows="1" placeholder="Article category">@if(!string.IsNullOrEmpty(@Model.Category)) {@Model.Category}</textarea>
                <small id="categoryHelp" class="form-text text-muted">Enter article's category.</small>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" disabled type="button" id="inputGroupFileAddon03">Add</button>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" disabled name="wayToImg" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                    <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
                </div>
            </div>
            <div class="form-group">
                <label for="date">Article post date</label>
                <input type="date" class="form-control" name="date" id="date" placeholder="Article post date">
            </div>
            <div class="form-group">
                <label for="content">Article content</label>
                <textarea type="text" class="form-control ArticleEditContent" asp-for="Content" name="content" rows="15"
                          id="content" aria-describedby="contentHelp" placeholder="Article content">@if(!string.IsNullOrEmpty(@Model.Content)) {@Model.Content}</textarea>
                <small id="contentHelp" class="form-text text-muted">Enter article's content.</small>
            </div>

            <label for="date">Article tags</label>
            <input type="text" class="custom-file-input col form-control" id="testInput" value="" />
            <small id="tagsHelp" class="form-text text-muted">Press TAB for add tag, not more than 5</small>

            <input type="text" name="tags" hidden id="tags">

            <input type="submit" onclick="TagFormat()" class="mt-5 btn btn-dark" value="Submit" />
        </form>
    </div>
</div>
@section Footer{
    <div class="container-fluid mt-5 footer">
}
