﻿@section Header{Admin}
@model List<Task_24_Advanced.BLL.DTO.ArticleDTO>
<h1 class="text-center mt-5 mb-4">Admin panel</h1>
<div class="row mt-5">
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active adminPanelNav" id="v-pills-home-tab" href="~/Admin/ArticleList">Article list</a>
            <a class="nav-link" id="v-pills-home-tab" href="~/Admin/AddArticle">Add article</a>
        </div>
    </div>
    <div class="container-fluid col-10">
        <div class="row">
            <!-- column -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Basic Table</h4>
                        <div class="table-responsive">
                            <table class="table user-table">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">Id</th>
                                        <th class="border-top-0">Article Title</th>
                                        <th class="border-top-0">Article tags</th>
                                        <th class="border-top-0">Article short desctiption</th>
                                        <th class="border-top-0">Edit</th>
                                        <th class="border-top-0">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var article in Model)
                                    {
                                        <tr>
                                            <td>@article.Id</td>
                                            <td>@article.Name</td>
                                            @if (article.Tags.Count != 0)
                                            {
                                                <td>@article.Tags.Select(x => x.Tag).Aggregate((tag1, tag2) => tag1 + " ; " + tag2)</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            @if (article.Content.Length > 100)
                                            {
                                                <td>@article.Content.Substring(0, article.Content.IndexOf(" ", 100))...</td>
                                            }
                                            else
                                            {
                                                <td>@article.Content</td>

                                            }
                                            <td class="EditBtn"><a href="/Admin/EditArticle/@article.Id">Edit</a></td>
                                            <td class="DeleteBtn"><a href="/Admin/DeleteArticle/@article.Id">Delete</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Footer{
    <div class="container-fluid mt-5 footer">
}
