﻿@section Header{Edit @if (Model != null)
    {@Model.Name}}
@model Task_24_Advanced.BLL.DTO.ArticleDTO
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/tags.js"></script>
<script>
    $(function () {
        $("#testInput").tags({
            unique: true,
            maxTags: 5
        });
    });

    function TagFormat() {
        var x = document.getElementsByClassName("tagValue");
        var hidden = document.getElementById("tags")
        var a = "";
        for (var i = 0; i < x.length; i++) {
            a += x[i].innerHTML;
            if (i != x.length - 1) { a += ";"; }
        }
        hidden.setAttribute("value", a);
    };
</script>

<h1 class="text-center mt-5 mb-5">Admin panel</h1>
<hr>
@if (Model != null)
{
    <div class="row mt-5">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active adminPanelNav" id="v-pills-home-tab" href="~/Admin/ArticleList">Article list</a>
                <a class="nav-link" id="v-pills-home-tab" href="~/Admin/AddArticle">Add article</a>
            </div>
        </div>
        <div class="container col-9">

            @using (Html.BeginForm("EditArticle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label for="title">Article title</label>
                    <textarea type="text" required class="form-control ArticleEditContent" name="title" id="title" aria-describedby="titleHelp" rows="3" placeholder="Article title">@Model.Name</textarea>
                    <small id="titleHelp" class="form-text text-muted">You can change article's title.</small>
                </div>
                <div class="form-group">
                    <label for="content">Article content</label>
                    <textarea type="text" required class="form-control ArticleEditContent" name="content" rows="15" id="content" aria-describedby="contentHelp" placeholder="Article content">@Model.Content</textarea>
                    <small id="contentHelp" class="form-text text-muted">You can change article's content.</small>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" disabled type="button" id="inputGroupFileAddon03">Add</button>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="wayToImg" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                        <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="date">Article post date</label>
                    <input type="date" class="form-control" required name="date" id="date" placeholder="Article post date">
                </div>
                <textarea type="text" name="id" hidden id="id">@Model.Id</textarea>
                <input type="text" name="tags" hidden id="tags">

                <label for="date">Article tags</label>
                <input type="text" class="custom-file-input col form-control" id="testInput" value="" />
                <small id="tagsHelp" class="form-text text-muted">Press TAB for add tag, not more than 5</small>

                <input type="submit" onclick="TagFormat()" class="mt-5 btn btn-dark" value="Submit" />
            }
        </div>
    </div>
}
<script>
     function attribute() {
            @{
                string str = @Model.Tags.Select(x => x.Tag).Aggregate((x, y) => x + ";" + y);
            }
        var string = "@str";
        var str = string.split(";");
        console.log(str);
         var list = document.querySelector('.tags-wrapper ul')
         console.log(list);
        for (var i = 0; i < @Model.Tags.Count(); i++) {
            let liLast = document.createElement('li');
            liLast.setAttribute("class", "tag")
            liLast.innerHTML = "<span class='tagValue'>" + str[i] + "</span><a href='#'>x</a>";
            list.before(liLast);
        }
    }
    $(document).ready(function () {
        attribute();
    })
</script>
@section Footer{
    <div class="container-fluid mt-5 footer">
}

