﻿@section Header{
    Books
}
@model List<Task_24_Advanced.Models.BookViewModel>

@{
    if (Model.Any())
    {
        if (Model.Where(book => book.Category == "Top Six").Count() >= 6)
        {
            var TopSix = Model.Where(book => book.Category == "Top Six").OrderByDescending(x => x.Date).Take(6).ToList();
            <h3 class="text-center mt-5">TOP 6 BOOKS</h3>
            <hr>
            <div class="containerTopSix">
                @{
                    int counter = 0;
                }
                @for (int j = 0; j < 2; j++)
                {
                    <div class="topSix">
                        @for (int i = 0; i < 3; i++)
                        {
                            <a href="~/Book/ShowBook/@TopSix[counter].Id">
                                <div class="card">
                                    <img src="@TopSix[counter].LinkToImg" alt="cardImg">
                                    <div class="cardText">
                                        <p>@TopSix[counter].Name</p>
                                        <p>@TopSix[counter].ShortDescription</p>
                                    </div>
                                </div>
                            </a>
                            counter++;
                        }
                    </div>
                }
            </div>
        }
        if (Model.Where(book => book.Category == "Hot Books").Count() >= 8)
        {
            var HotBooks = Model.Where(book => book.Category == "Hot Books").OrderByDescending(x => x.Date).Take(8).ToList();

            <hr>
            <h3 class="text-center">Hot new releases in Books</h3>
            <hr>
            <div class="mainContainer">
                <div class="leftPart d-flex w-100">
                    @{int counter = 0;
                        for (int i = 0; i < 8; i++)
                        {
                            <a class="miniCard" href="~/Book/ShowBook/@HotBooks[i].Id">
                                <div class="img w-50">
                                    <img src="@HotBooks[i].LinkToImg" class="w-100 h-100" alt="cardImg">
                                </div>
                                <div class="text w-50 h-auto">
                                    <p class="p-2">@HotBooks[i].Name</p>
                                </div>
                            </a>
                            counter++;
                        }
                    }
                </div>
            </div>
        }
        if (Model.Where(book => book.Category == "Most Wished Books").Count() >= 8)
        {
            var MostWished = Model.Where(book => book.Category == "Most Wished Books").OrderByDescending(x => x.Date).Take(8).ToList();
            <hr>
            <h3 class="text-center">Most wished for in Books</h3>
            <hr>
            <div class="mainContainer">
                <div class="leftPart d-flex w-100">

                    @for (int i = 0; i < 8; i++)
                    {
                        <a class="miniCard" href="~/Book/ShowBook/@MostWished[i].Id">
                            <div class="img w-50">
                                <img src="@MostWished[i].LinkToImg" class="w-100 h-100" alt="cardImg">
                            </div>
                            <div class="text w-50 h-auto">
                                <p class="p-2">@MostWished[i].Name</p>
                            </div>
                        </a>
                    }
                </div>
            </div>
        }
        if (Model.Where(book => book.Category == "IT Books").Count() >= 8)
        {
            var ITBooks = Model.Where(book => book.Category == "IT Books").OrderByDescending(x => x.Date).Take(8).ToList();

            <hr>
            <h3 class="text-center">IT Books</h3>
            <hr>
            <div class="mainContainer">
                <div class="leftPart d-flex w-100">

                    @for (int i = 0; i < 8; i++)
                    {
                        <a class="miniCard" href="~/Book/ShowBook/@ITBooks[i].Id">
                            <div class="img w-50">
                                <img src="@ITBooks[i].LinkToImg" class="w-100 h-100" alt="cardImg">
                            </div>
                            <div class="text w-50 h-auto">
                                <p class="p-2">@ITBooks[i].Name</p>
                            </div>
                        </a>
                    }
                </div>
            </div>
        }
    }
    else
    {
    <h2 class="mt-5 mb-5 text-center">Sorry, no books<br>We are working on this</h2>
    }
    @section Footer{
        <div class="container-fluid mt-5 footer">
    }


}
