﻿
@section Header{
    @Model.Name
}
@model Task_24_Advanced.BLL.DTO.BookDTO
<div class="containter mt-5 w-75 ml-auto mr-auto">
    <div class="row pt-5">
        <div class="w-25 BookShowImg">
            <img class="img-fluid w-50" src="@Model.LinkToImg" alt="Alternate Text" />
        </div>
        <div class="w-75 BookShowText">
            <h3 class="BookShowTitle">@Model.Name</h3>
            <p class="BookShowAuthor mb-1">Author: @Model.Author</p>
            <p class="BookShowCategory">Category: @Model.Category</p>
            <p class="mt-5 BookShowDescription">@Model.ShortDescription</p>
    <div class="justify-content-left mt-5 ml-3">
        <div class="row pt-5 btnOpenBook">
            <input type="submit" onclick="footerFixed()" class="btn col-3 btn-primary ml-auto openBook" value="OPEN">
            <div class="col-9 deleteIt"></div>
        </div>
    </div>
        </div>
    </div>
    <div class="emptySpace"></div>
</div>

@section Footer{
    <div class="container-fluid mt-5 footer">
}
