﻿@section Header{
    Guest
}
@model Task_24_Advanced.Models.IndexViewModel<Task_24_Advanced.BLL.DTO.CommentDTO>

<div class="container-fluid justify-content-center">
    <div class="container form justify-content-center mt-5">
        <h2 class="text-center mb-5">YOUR COMMENT</h2>
        <div class="form-group col-12 pl-0 pr-0">
            <form method="post">
                <div class="pl-3">
                    @Html.ValidationSummary()
                </div>
                @Html.TextBox("author", "", new { @class = "form-control", @placeholder = "Enter your name", @required = true, pattern = "[а-яА-ЯёЁa-zA-Z\\s]+$" })
        </div>
        <div class="form-group">
            @Html.TextArea("content", "", new
            {
                @class = "form-control",
                @placeholder = "Enter your experience of using our site",
                @required = true,
                @cols = "1",
                @rows = "5"
            })

        </div>
        <div class="justify-content-center">
            <div class="row">
                <div class="col-4"></div>
                <button type="submit" class="btn col-4 btn-primary ml-auto">Submit</button>
                <div class="col-4"></div>
            </div>
        </div>
        </form>
    </div>
</div>
@if (Model != null && Model.Items.Any())
{
    <div class="container mt-5 containerComments">
        <div class="containerComments">
            @for (int i = 0; i < @Model.Items.Count(); i++)
            {
                <div class="comment mb-3">
                    <div class="text">
                        <div class="row">
                            <p class="col-10 comAuthor">@Model.Items[i].Author</p>
                            <p class="col-2 comDate d-flex justify-content-end">@Model.Items[i].Date</p>
                        </div>
                    </div>
                    <p>@Model.Items[i].Content</p>
                </div>
            }

        </div>
    </div>
    
        int current = Model.Pagination.PageNumber;
        int prev = current - 1;
        int next = current + 1;
    
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (prev != 0 && prev != -1)
            {
                <li class="page-item">
                    <a class="page-link" href="~/Guest/Index/@prev" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>

                <li class="page-item"><a class="page-link" href="~/Guest/Index/@prev">@prev</a></li>
            }
            <li class="page-item"><a class="page-link" href="~/Guest/Index/@current">@current</a></li>
            @if (next <= Model.Pagination.TotalPages)
            {
                <li class="page-item"><a class="page-link" href="~/Guest/Index/@next">@next</a></li>
                <li class="page-item">
                    <a class="page-link" href="~/Guest/Index/@next" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
}
@section Footer{
    <div class="container-fluid mt-5 footer">
}
